.faq-container {
  padding: 50px;
}

.faq-main-text > h3 {
  color: #fef42e;
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 55px;
  background: linear-gradient(to bottom, #ffda1f, #f2b000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.collapse-container {
  margin-top: 50px;
}
.collapse-container .ant-collapse-header-text {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 20px;
  background: linear-gradient(to bottom, #ffda1f, #f2b000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.collapse-answer {
  width: 80%;
  color: #fff;
  text-align: left;
  font-family: "Sora";
  font-size: 14px;
  margin-top: 10px;
  font-weight: 300;
}

.collapse-icon {
  color: #ffda1f !important;
  font-size: 20px !important;
  margin-top: 10px !important;
}

.collapse-container .ant-collapse-item {
  background: rgba(27, 21, 26, 0.54);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid #b471503b !important;
  margin-bottom: 30px;
}

.ant-collapse > .ant-collapse-item:first-child {
  border-radius: 15px !important;
}
.ant-collapse > .ant-collapse-item:last-child {
  border-radius: 15px !important;
}

@media (max-width: 767px) {
  .faq-container {
    padding: 20px;
  }
  .faq-main-text > h3 {
    font-size: 30px;
  }
}
