.navbar-container {
  padding: 40px;
}
.navbar-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-links ul {
  display: flex;
  gap: 60px;
}

.navbar-links ul li {
  list-style: none;
}
.navbar-links ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "Sora", sans-serif;
}
.navbar-socials ul {
  display: flex;
  gap: 30px;
}

.navbar-socials ul li {
  list-style: none;
}
.navbar-socials ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

@media (max-width: 768px) {
  .navbar-container {
    background: rgba(17, 14, 17, 1);
  }
  .navbar-logo > a > img {
    width: 30px;
  }
  .navbar-container {
    padding: 20px;
  }
  .navbar-links ul {
    gap: 10px;
  }
  .navbar-socials ul {
    gap: 10px;
  }
}
