.tokenomics-container {
  padding: 50px;
  overflow-x: hidden;
}

.tokenomics-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.tokenomics-main-text {
  text-align: center;
  margin-top: 60px;
}

.tokenomics-illustration {
  width: 50%;
}

.tokenomics-illustration > img {
  width: 100%;
  right: -40%;
  position: relative;
}
.tokenomics-main-text > h3 {
  color: #fef42e;
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 55px;
  background: linear-gradient(to bottom, #ffda1f, #f2b000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@media (max-width: 767px) {
  .tokenomics-container {
    padding: 20px;
  }
  .tokenomics-main-text > h3 {
    font-size: 25px;
  }
  .tokenomics-details {
    flex-direction: column;
  }
  .tokenomics-illustration {
    width: 100%;
    display: flex;
  }

  .tokenomics-illustration > img {
    width: 70%;
    right: 0%;
    margin: auto;
    position: relative;
  }
}
