.footer-container {
  padding: 50px;
  position: relative;
}
.footer-blend {
  position: absolute;
  right: -50%;
  bottom: -10px;
  z-index: -1;
}
.footer-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  background: rgba(27, 21, 26, 0.54);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid #b471503b;
}
.footer-illustration > img {
  width: 80%;
}

.footer-main-text > h4 {
  color: #fef42e;
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 20px;
  background: linear-gradient(to bottom, #ffda1f, #f2b000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.footer-text-container > h5 {
  color: #fff;
  font-family: "Sora", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin-top: 20px;
}
.footer-input {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.footer-input > input {
  width: 50%;
  padding: 12px 10px;
  background: #110e11;
  border: none;
  color: #fff;
  font-family: "Sora", sans-serif;
}
.footer-input > input:focus {
  outline: none;
}
.footer-input > input::placeholder {
  color: #9f9fa0;
  font-family: "Sora", sans-serif;
  font-size: 14px;
}
.footer-input > button {
  border: none;
  background: none;
}
.footer-input > button:hover {
  cursor: pointer;
}
.footer-input > button > img {
  width: 150px;
  margin-top: 10px;
  margin-left: -10px;
}

.footer-socials {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.footer-socials > div > a {
  color: #fff;
  font-size: 30px;
}
.footer-copyright {
  margin-top: 30px;
}
.footer-copyright p {
  color: #fff;
  font-family: "Sora", sans-serif;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer-container {
    padding: 20px;
  }
  .footer-details {
    flex-direction: column;
  }
  .footer-illustration > img {
    width: 60%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
  .footer-input {
    flex-direction: column;
  }
  .footer-input > input {
    width: 100%;
  }
  .footer-main-text > h4 {
    font-size: 16.5px;
  }
  .footer-copyright p {
    text-align: center;
    font-size: 13px;
  }
  .footer-socials {
    justify-content: center;
  }
  .footer-blend {
    right: 0%;
  }
  .footer-input > button > img {
    width: 140px;
  }
}
